# > Visual Studio
*.cs            text eol=crlf diff=csharp
*.csx           text eol=crlf diff=csharp
*.vb            text eol=crlf
*.fs            text eol=crlf
*.fsx           text eol=crlf

*.sln           text eol=crlf merge=text
*.csproj        text eol=crlf merge=text
*.vbproj        text eol=crlf merge=text
*.vcxproj       text eol=crlf merge=text
*.vcproj        text eol=crlf merge=text
*.dbproj        text eol=crlf merge=text
*.fsproj        text eol=crlf merge=text
*.lsproj        text eol=crlf merge=text
*.wixproj       text eol=crlf merge=text
*.modelproj     text eol=crlf merge=text
*.sqlproj       text eol=crlf merge=text
*.wmaproj       text eol=crlf merge=text
*.wwaproj       text eol=crlf merge=text

*.xproj         text eol=crlf merge=text
*.props         text eol=crlf merge=text
*.filters       text eol=crlf merge=text
*.vcxitems      text eol=crlf merge=text

*.dll           binary


# > Documents
*.doc           diff=astextplain
*.DOC           diff=astextplain
*.docx          diff=astextplain
*.DOCX          diff=astextplain
*.dot           diff=astextplain
*.DOT           diff=astextplain
*.pdf           diff=astextplain
*.PDF           diff=astextplain
*.rtf           diff=astextplain
*.RTF           diff=astextplain

.gitattributes  text eol=crlf
.gitignore      text eol=crlf

*.txt           text eol=crlf merge=text
*.md            text eol=crlf merge=text
*.adoc          text
*.textile       text
*.mustache      text
*.csv           text eol=crlf merge=text
*.tab           text eol=crlf merge=text
*.tsv           text eol=crlf merge=text


# > Graphics
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
*.tif           binary
*.tiff          binary
*.ico           binary
*.svg           binary
*.eps           binary


# > Other
*.sh            text eol=lf
*.cmd           text eol=crlf
*.sql           text eol=crlf
*.js            text eol=crlf
*.min.js        binary
*.json          text eol=crlf
*.css           text eol=crlf
*.min.css       binary
*.htm           text eol=crlf
*.html          text eol=crlf
*.xml           text eol=crlf
*.resx          text eol=crlf


# > Custom
*.ejx           text
*.min.ejx       binary
*.eqx           text
*.min.eqx       binary

